body {
    background: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;

}

#title, .subtitle, .post_title {
color: black;

}

#title {
    font-size: 30px;
    text-transform: uppercase;
    color: black;

}

.p.a{
    text-decoration: line-through;
    color: blue;


}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;

}

.post{
    background: white;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 5px;

}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: initial;
    text-align: justify;

}

.post_image{
    margin-bottom: 15px;
    width: 100%;
    

}

.photo {
    border-radius: 50px;
    border: black;

}

.contact-list {
    list-style-type: none;
    padding-left: 15px;

}

.contact-list li a{
    color: blue;

}